//colors
$red:#bf1d2e;
$orange: #ef4036;
$yellow: #fcb040;
$lightblue: #24aae1;
$darkblue: #317abe;
$lightgray: #f5f5f5;
$mediumgray: #eeeeee;
$darkgray: #cccccc;
$bodycopy: #364450;

@import "bootstrap-variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";
@import "scaffold";
@import "top-header";
@import "welcome-steps";
@import "login-container";
